*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 1px solid black;
    padding: 20px;
    border-radius: 16px;

}
input{
    width: 320px;
    height:90px;
    border: none;
    padding: 20px;
    margin: 10px;
    color:rgb(93, 112, 112);
    background:rgb(155, 228, 241) ;
    text-align: right;
    font-size: 50px;
    cursor: pointer;
}

button{
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 20px;
    border: none;
    font-size: 23px;
    cursor: pointer;
    box-shadow: 8px -8px 15px rgba(57, 92, 99, 0.2);
}
button:hover{
    background-color: rgb(220, 222, 222);
}
.equal{
    width:145px;
    color: white;
    background-color:rgb(149, 157, 158);
    
}